ul li {
  list-style: none;
  margin: 0;
}

ul {
  padding: 0
}

.App {
  text-align: center;
}

.garden {
  width: 100vw;
  height: 100vh;
  background: url("./Images/gardenplaceholder.jpg") no-repeat;
  background-size: contain;
}

.backpack {
  background-color: red;
  max-width: 20vw;
  max-height: 20vh;
}

.key {
  background-color: forestgreen;
  max-width: 20vw;
  max-height: 20vh;
}

.lantern, .floor {
  background-color: rgb(146, 45, 20);
  max-width: 20vw;
  max-height: 20vh;
}

.shovel, .dirt {
  background-color: lightskyblue;
  max-width: 20vw;
  max-height: 20vh;
}

.rug, .salt {
  background-color: pink;
  max-width: 20vw;
  max-height: 20vh;
}

.inventory {
  border: dashed;
  text-align: center;
  font-family: cursive;
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: burlywood;
}
